#SMS_Wrap #input_Wrap{
    display: flex;
}

#SMS_Wrap #input_Wrap Input{
    margin-bottom: 10px;
    padding: 9px 8px 8px 10px;
}

#SMS_Wrap #Button_Wrap {
    width: 100%;
    display: flex;
}

#Button_Wrap #Left_Wrap, #Right_Wrap {
    width: 100%;
}

#phone_list{
    border: 1px solid black;
    min-height: 50px;
    margin: 15px 0 15px 0;
}


#phone_list span{
    margin: 0 10px 0 10px;
}

#select-helper{
    padding: 10px 5px 10px 32px;
}

#SMS_Search_Wrap{
    display: flex;
}